/*-----------  Video Gallery  -----------*/

body.gallery

  .global-content

    > section:first-child
      color: $white
      padding-top: 6em
      padding-bottom: 6em
      box-shadow: inset $shadow
      @include clearfix()
      @include full-bg()

      .bounds-wrapper
        padding-bottom: 0

      .text-block,
      .featured-video
        width: 48%
        @include inline-block()

      .text-block
        margin-right: 4%

        *
          text-shadow: 0 0 0.5em rgba($black, 0.5)

        h1
          margin-bottom: 0.33em

      .featured-video
        @include panel(0, 2px)

      @include media($tabletBreak)
        padding-top: 4em
        padding-bottom: 4em
        text-align: center

        .text-block,
        .featured-video
          width: 100%
          display: block

        p
          padding-right: 0

    /*-----------  Video Galleries  -----------*/

    > section:last-child
      text-align: center

      .bounds-wrapper
        text-align: left
        margin-bottom: 2em
        padding-bottom: 5em
        border-bottom: 1px solid $grayLighter
  
        @include media($tabletBreak)
          text-align: center
          
        a[id]
          display: block
          padding: 0.67em 0
          @extend h3

          &:focus
            outline: none

      .button
        font-size: 145%
        margin: 1.5em auto
        box-shadow: $shadow
