/*-----------  Video Gallery  -----------*/

body.gallery

  .global-content

    > section:first-child
      color: $white
      padding-top: 6em
      padding-bottom: 6em
      box-shadow: inset $shadow
      @include clearfix()
      @include full-bg()

      .bounds-wrapper
        padding-bottom: 0

      @include media($tabletBreak)
        padding-top: 4em
        padding-bottom: 4em
        text-align: center

    /*-----------  Video Galleries  -----------*/

    > section.video-gallery
      text-align: center

      .bounds-wrapper
        text-align: left
        margin-bottom: 0em
        padding-bottom: 3em
        border-bottom: 1px solid $grayLighter
  
        @include media($tabletBreak)
          text-align: center
          
        a[id]
          display: block
          padding: 0.67em 0
          @extend h3

          &:focus
            outline: none

    section.button-wrapper
      padding-top: 0
      text-align: center

      .button
        font-size: 145%
