/*-----------  Home Page  -----------*/

body.index

  .home-hero
    position: relative
    text-align: center
    padding-bottom: 11em
    box-shadow: inset $shadow
    background-color: $grayDark

    .text-wrapper
      position: relative

    h1, p
      text-shadow: 0 0 0.5em rgba($black, 0.5)

    h1
      color: $white
      font-size: 2.75em
      margin: 2rem auto 1rem
      letter-spacing: -0.033em

    p
      color: $grayLight

  .home-hero,
  .home-wrappup

    p
      font-size: 1.15em

    .button
      font-size: 145%
      box-shadow: $shadow

  .home-wrappup
    padding: 3em 0

  .home-marketing
    text-align: center
    border-top: $border
    border-bottom: $border
    border-width: 2px

    /*-----------  Thumbnails Section  -----------*/

    .panel-wrapper
      margin-top: -8em
      margin-bottom: 4em

      p
        max-width: 42em
        font-size: 0.95em
        margin: 0 auto 1.5em
        letter-spacing: -0.025em

    /*-----------  Marketing Section  -----------*/

    .bounds-wrapper

      h3
        margin-bottom: 1.5em

      p + h3
        margin-top: 1.5em

    .marketing-wrapper
      margin: 0 auto
      @include clearfix()

      .marketing-block
        width: 48%
        text-align: left
        margin-bottom: 2em
        @include inline-block()

        &:nth-child(odd)
          float: left
          clear: both

        &:nth-child(even)
          float: right

        .marketing-text,
        .marketing-image
          @include inline-block(top)

        .marketing-image
          width: 22%
          height: 0
          border: $border
          overflow: hidden
          margin-right: 5%
          position: relative
          text-align: center
          border-radius: 10em
          padding-bottom: 22%
          background-color: $white
          @include full-bg()

          i
            color: $purple
            font-size: 3.5em
            @include center-align(absolute)

            &:before
              margin: 0

        .marketing-text
          width: 73%
          font-size: 90%

          h4
            margin-bottom: 0.33em

        @include media($middleBreak)
          width: 100%
          float: none
          margin-bottom: 3em
