/*-----------  Footer  -----------*/

.global-footer
  color: $white
  background-color: $grayDark
  @include full-span(3em $gutter)

  @include media($tabletBreak)
    text-align: center
    
  a:not(.button)
    color: $gray
    font-size: 0.8em
    line-height: 200%
    margin-right: 1.75em
    @include inline-block()

    &:hover
      color: $white

    &.active
      color: $white
      pointer-events: none

    @include media($middleBreak)
      display: block
      margin-right: 0     

  nav
    float: left

  .social-nav
    float: right

    a
      margin-right: 0.1em

      @include media($middleBreak)
        @include inline-block()

    i
      font-size: 1.67em

  @include media($tabletBreak)

    nav,
    .social-nav
      width: 100%
      float: none
      text-align: center

    nav a
      font-size: 1.25em

    .social-nav
      margin-top: 1em
