/*-----------  Footer  -----------*/

.global-footer
  color: $white
  background-color: $grayDark
  @include full-span(3em $gutter)

  @include media($tabletBreak)
    text-align: center
    
  a:not(.button)
    color: $gray
    line-height: 200%
    margin-right: 1.75em
    @include inline-block()

    &:hover
      color: $white

    &.active
      color: $white
      pointer-events: none

    @include media($middleBreak)
      display: block
      margin-right: 0     
  
  .social-nav

    a
      margin-right: 0.1em

      @include media($middleBreak)
        @include inline-block()

    i
      font-size: 1.67em
