/*-----------  Project Checkout  -----------*/

body.projects_create_checkout,
.fix-card-modal

  form
    text-align: left
    @include panel() 

    .stored-cards
      input:not([type='hidden']) + label
        color: $grayDark
        margin: 0 0 1.2em

  form.fix-card .button-wrapper
    text-align: center
    padding-top: 1em

  table
    width: 100%

    td:last-child
      text-align: right
      font-size: 1.25em

      strong
        font-size: 1.25em

    td.explainer
      text-align: left
      font-size: 0.9em
      padding-top: 1.5em

  .unpurchasable-warning
    text-align: center
    background-color: $red
    color: white
    margin: -2em
    padding: 2em
    font-weight: bold


  /*-----------  Credit Card Layout  -----------*/

  .cc-exp,
  .cc-ccv
    width: 33%
    margin-right: 3%
    @include inline-block()

  .cc-logo
    width: 18%
    @include inline-block()

  footer
    @include clearfix()

    .total-block
      float: left
      margin: -0.75em 0
      padding-top: 0.6em
      margin-left: -0.25em

      #{$all-headers}
        margin: 0 0 0 0.25em
        @include inline-block(baseline)

    .button-wrapper
      float: right
      margin-top: 0
      text-align: right

      input
        margin-left: 0.67em
        float: right !important

  /*-----------  Bottom Buttons  -----------*/

  .button-wrapper

    .button
      margin-left: 0.5em   

    a:not(.button)
      font-style: italic
      line-height: 2.25em

      &:hover
        color: $blue
        text-decoration: underline

    a
      float: right !important
