/*-----------  Discussion  -----------*/

.discussion-block
  display: block
  margin-bottom: 2em

  .discussion-title
    float: left
    position: relative
    line-height: 2.25rem
    padding-right: 1.67em

    &:before,
      right: 0
      bottom: 0
      content: ''
      position: absolute
      border-style: solid
      border-width: 18px 0 0 17px
      border-color: transparent transparent transparent $grayLight
      @include inline-block()

    &:after
      right: 0
      bottom: -1px
      content: ''
      position: absolute
      border-style: solid
      border-width: 16px 0 0 16px
      border-color: transparent transparent transparent $white
      @include inline-block()

  .discussion-timestamp
    float: right
    color: $gray
    font-size: 0.8em
    line-height: 2.25rem

  /*-----------  Messages  -----------*/
  
  .discussion-content
    clear: both
    border-radius: 5px
    padding: 1.1em 1.25em
    border: 1px solid $grayLight

    *
      color: $gray
      font-size: 0.9em

      &:last-child
        margin-bottom: 0

  /*-----------  Mine / Theirs  -----------*/

  &.mine
    margin-right: 12%

    .discussion-title

  &.theirs
    margin-left: 12%

    .discussion-title

  /*-----------  Uploads  -----------*/

  &.upload

    .discussion-title:after    
      border-left-color: $grayLighter
  
    .discussion-content
      background-color: $grayLighter

      p.uploading
        color: $gray
        padding: 1em
        font-size: 0.8em
        line-height: 125%
        text-align: center

      video
        border-radius: 3px
        vertical-align: baseline

      .approve-reject-links
        margin-top: 0.75em
        text-align: right
 
        .button
          color: $white
          margin-left: 0.75em

  /*-----------  Reply Message  -----------*/

  &.reply
    font-size: 1.1em
    margin-bottom: 0

    textarea
      padding: 0
      border: none
      margin-top: 0
      margin-bottom: 0.75em

    .button
      color: $white
      margin-right: 0.75em
