/*-----------  Projects  -----------*/

.projects-wrapper

  .project-block
  
    .project-meta
      color: $gray

      span
        color: $black
        margin-left: 0.33em

      img
        width: 1.5em
        height: auto
        margin-right: 0.33em
        vertical-align: middle

    .project-actions
      text-align: right
      
      em
        color: $red
        margin-right: 1em  

