/*-----------  Single Project Page  -----------*/

body.project_single

  .final-cut
    margin: 1em 0

  .share-links

    h5
      margin: 1em 0 0.33em

    a
      font-size: 2em

    div
      font-size: 0.85em
      padding: 0.5em 1em
      background-color: $white
      border: 2px solid $grayLight

  /*-----------  Main Content  -----------*/

  .layout-wrapper
    margin: -$gutterSm
    @include justify-content(space-between)
    @include align-items(stretch)
    @include flex-wrap(nowrap)
    @include display(flex)

    .main-layout
      padding: $gutter
      @include flex(1 0 70%)

      .step-wrapper
        position: absolute
        @include justify-content(inherit)

        .step-block
          margin-right: 1.75em

      .step-container
        padding-top: 3.5em

    /*-----------  Sidebar  -----------*/

    .side-layout
      padding: $gutter
      border-left: 1px solid $grayLighter
      background-color: lighten($grayLightest, 2%)
      @include flex(0 1 auto)

  /*-----------  Discussions  -----------*/

  .discussion-status
    @include panel(1px, $gutterSm)

  /*-----------  File Lists  -----------*/

  .file-list
    width: 45%
    margin-right: 5%
    @include inline-block(top)

    h6
      margin-bottom: 0.67em

    small
      font-style: italic
      margin-left: 0.25em

    ul
      margin: 0
      padding: 0

      li
        font-size: 0.9em
        margin-bottom: 0.5em
        @include ellipsis()

    &:last-child
      margin-right: 0

  /*-----------  Project Meta  -----------*/

  .project-meta
    @extend small

    span
      color: $grayDark
      font-size: 120%
      display: block

