<script id="approve-cut-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper approve-cut-modal">
    <div class="modal-block">
      <a class="close-modal"><i class="icon-cancel"></i></a>

      <h4>Approve Cut</h4>

      <video controls="true">
        <source src={{previewURL}} type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <p>
        Approving this cut will complete the project. You will receive immediate access to a full-quality version of your video and your card will be charged ${{cost}}.
      </p>

      {{#if showLineItems}}
        <table class="line-items">
          <tr>
            <td>Initial price:</td>
            <td>${{initialPrice}}</td>
          </tr>
          <tr>
            <td>Revisions ({{numRevisions}}):</td>
            <td>${{priceOfRevisions}}</td>
          </tr>
          <tr class="total">
            <td></td>
            <td><strong>${{cost}}</strong></td>
          </tr>
        </table>
      {{/if}}

      <button class="confirm">Confirm</button>
    </div>
  </div>
</script>
