<script id="approve-cut-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper approve-cut-modal">
    <div class="modal-block">
      <a class="close-modal"><i class="icon-cancel"></i></a>

      <%= form_tag projects_path do |f| %>

        <h4>Approve Cut</h4>

        <div class="errors"></div>

      <% end %>

    </div>
  </div>
</script>
