<script id="approve-cut-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper approve-cut-modal">
    <div class="modal-block">
      <a class="close-modal"><i class="icon-cancel"></i></a>

      <%= form_tag projects_path do |f| %>

        <h4>Approve Cut</h4>

        <div class="errors"></div>

        <video width="100%" controls="true">
          <source src={{previewURL}} type="video/mp4">
          Your browser does not support the video tag.
        </video>

        <p>
          Approving this cut will complete the project. You will receive immediate access to a full-quality version of your project and your card will be charged {{cost}}.
        </p>

        <a class="confirm button">Confirm</a>

      <% end %>

    </div>
  </div>
</script>
