<script id="reject-cut-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper reject-cut-modal">
    <div class="modal-block">
      <a class="close-modal"><i class="icon-cancel"></i></a>

      <h4>Request Another Cut</h4>

      <video controls="true">
        <source src={{previewURL}} type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <small>Please provide some comments for your editor to let him know what you would like changed. {{#if chargeForRevision}} Note that each revision after the first costs an additional $<%= Project::ADDITIONAL_CUT_COST / 100 %>.{{/if}}</small>

      <div class="discussion-block reply">
        <div class="discussion-title">Comments:</div>
        <div class="discussion-content">
          <textarea id="reject_reason" placeholder="Notes for your editor..."></textarea>
        </div>
      </div>

      <a class="confirm button">Submit Request</a>
    </div>
  </div>
</script>
