<script id="sign-in-modal-template" type="text/x-handlebars-template">
  <div class="modal-wrapper sign-in-modal">
    <div class="modal-block">
      <section>
        <div class="compact-wrapper">
          <%= form_tag user_session_path(format: :json), {"data-post-sign-in-path" => post_sign_in_modal_path} do |f| %>
            <h4>Sign In</h4>
            <div class="errors"></div>

            <%= text_field_tag "user[email]", nil, placeholder: "Email Address" %>
            <%= password_field_tag "user[password]", nil, placeholder: "Password" %>

            <button class="submit">Sign In</button>

            <div class="devise-links">
              <a class="sign-up" href="#">Create an account</a>
            </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</script>
