%h1{style: "float: left"}= link_to "Activid", root_path

%ul{style: "float: right"}
  %li{style: "display: inline-block; margin-right: 1em"} How It Works
  %li{style: "display: inline-block; margin-right: 1em"} Pricing
  %li{style: "display: inline-block; margin-right: 1em"} Log In
  %li{style: "display: inline-block; margin-right: 1em"}= link_to "Get Started", new_project_path

%div{style: "clear: both"}
