%ul
  = step_navigation_link(project, 1, "Project Info", step == 1)
  = step_navigation_link(project, 2, "File Upload", step == 2)
  = step_navigation_link(project, 3, "Music", step == 3)
  = step_navigation_link(project, 4, "Checkout", step == 4)
