= render "step_navigation", project: @project, step: 4

- unless current_user
  :javascript
    new SignUpModal({unclosable: true}).open()

%h2 Checkout

= form_for @project do |f|
  = hidden_field_tag :step, 4
  %p= f.submit "Finish"
