p Hello,

p= "The latest cut for your project, \"#{@project.name}\", could not be approved because there was an issue with your card on file. Please go to the following URL and update your payment information to complete your project: #{link_to @link, @link}".html_safe

p= "- Activid"
