p Hello,

p= "The latest cut for your project, \"#{@project.name}\", has been automatically approved. Your project is now complete, and you can view your final cut here: #{link_to @link, @link}".html_safe

p= "- Activid"
