p= "Hello #{@editor.full_name.split(" ").first},"

p= "Your Activid editor account has been created. Your password is 'changeme', and you should change it as soon as you log in, which you can do here: #{new_user_session_url}"
