p Hello,

p = "A new project has been submitted, \"#{@project.name}\", and is available to editors. View the project from your dashboard or by following this link: #{link_to @link, @link}".html_safe

p= "- Activid"
