p= "Hello #{@editor.full_name.split(" ").first},"

p= "Your Activid editor account has been created. Your password is 'changeme'. Once you log in, you can change your password and enter your payment details here: #{edit_account_url}"
