p Hello,

p= "A new cut has been uploaded for your project, \"#{@project.name}\"! This is only a lower resolution and watermarked version of your video. If you accept the cut, you will be given access to the full quality version with no watermarks. You can review it at activid.co".html_safe

p= "- Activid"
