/*-----------  Thumbnail Gallery  -----------*/

.thumbnail-wrapper
  width: 100%
  margin: 2em auto 1.5em
  @include justify-content(space-between)
  @include align-items(stretch)
  @include flex-wrap(wrap)
  @include display(flex)

  .thumbnail-block
    margin-bottom: 2.5%
    @include flex(0 1 31%)

    h5
      font-size: 1.15em
      margin-bottom: 0.4em

  @include media($middleBreak)

    .thumbnail-block
      @include flex(0 1 48%)

  @include media($mobileBreak)
    display: block

    .thumbnail-block
      width: 100%
      margin-bottom: 1em  