/*-----------  Video Thumbnail  -----------*/

.thumbnail-block
  width: 31%
  position: relative
  padding-bottom: 18%
  background-color: $grayLight
  @include inline-block()
  @include full-bg()

  &:after
    top: 50%
    left: 50%
    opacity: 0.5
    color: $white
    font-size: 2.25em
    position: absolute
    @include transform(translate(-50%) translateY(-50%))
    @include use-icon('\e80c')
    @include transition()

  &:hover
    cursor: pointer

    &:after
      opacity: 0.75

/*-----------  Thumbnail Gallery  -----------*/

.thumbnail-wrapper
  width: 100%
  margin: 2em auto 1.5em
  @include justify-content(space-between)
  @include align-items(stretch)
  @include flex-wrap(wrap)
  @include display(flex)

  .thumbnail-block
    margin-bottom: 2.5%
    padding-bottom: 18%
    @include flex(0 1 31%)